<!-- Our advertising -->
<!--------------------->

<h2 class="secondary-title">Попробуйте на вкус</h2>
<p class="describe-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium netus urna hendrerit
    convallis aliquam consequat
    turpis.</p>
<ul class="advertising-list">
    <li class="advertising-item">
        <img class="advertising-pic"
            src="./images/advertising/chakhokhbili-traditional/chakhokhbili-traditional-georgian-dish@1x-2.png" alt="">
        <p class="informaition-text">Здесь будет какой то текст, возможно назване блюда</p>
    </li>
    <li class="advertising-item">
        <img class="advertising-pic" src="./images/advertising/georgian-khinkali/georgian-khinkali@1x-2.png" alt="">
        <p class="informaition-text">Здесь будет какой то текст, возможно назване блюда</p>
    </li>
    <li class="advertising-item">
        <img class="advertising-pic" src="./images/advertising/georgian-stew-chakapuli/georgian-stew-chakapuli@1x-2.png"
            alt="">
        <p class="informaition-text">Здесь будет какой то текст, возможно назване блюда</p>
    </li>
</ul>
</div>