<!-- Delivery service -->
<!---------------------->

<div class="container">
    <h2 class="secondary-title">Удобные способы доставки</h2>
    <p class="describe-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium netus urna
        hendrerit convallis aliquam consequat
        turpis.</p>

    <ul class="delivery-list">
        <li class="delivery-item">
            <img class="delivery-pic" src="/images/delivery-image/logo@1x.png" width="120px" alt="">
            <p class="informaition-text">Доставка при помощи наших курьеров при заказе от 2000 ₽</p>
        </li>
        <li class="delivery-item">
            <img class="delivery-pic" src="/images/delivery-image/yandex-food@1x.png" width="120px" alt="">
            <p class="informaition-text">Доставка при помощи сервиса по оставке еды и лальше по тексту</p>
        </li>
        <li class="delivery-item">
            <img class="delivery-pic" src="/images/delivery-image/dc_logo@1x.png" width="120px" alt="">
            <p class="informaition-text">Доставка при помощи сервиса по оставке еды и лальше по тексту</p>
        </li>
    </ul>
</div>