<footer class="footer">
    <div class="container footer-container">

        <a href="">
            <svg width="133" height="66px">
                <use href="./images/svg/icons.svg#icon-logo"></use>
            </svg>
        </a>
        
        <ul>
            <li>
                <a href="tel:+7(123)4569998">+7 (123) 456-99-98</a>
            </li>
            <li>
                <a href="">
           <svg width="20px" height="20px">
               <use href="./images/svg/icons.svg#icon-telegram-color"></use>
           </svg>
            
                </a>
            </li>
            <li>
                <a href="">
          
            <svg width="20px" height="20px">
                <use href="./images/svg/icons.svg#icon-viber-color"></use>
            </svg>
                </a>
            </li>
            <li>
                <a href="">
          <svg width="20px" height="20px">
              <use href="./images/svg/icons.svg#icon-whats-up-color"></use>
          </svg>
                </a>
            </li>
        </ul>

        <address>
            <ul>
                <li><a href="emailto:mail@mal.ru">Email: mail@mal.ru</a></li>
                <li><p>г. Москва, район стадиона Динамо (ныне ВТБ Арена).</p></li>
            </ul>
        </address>

        <ul>
            <li><a href="">Политика конфиденциальности</a></li>
            <li><a href="">Пользовательское соглашение</a></li>
            <li><p>Динамо. Грузинское бистро. Все права защищены, 2021</p></li>
        </ul>

    
    
    
    </div>
</footer>