<div class="container">
    <ul class="gallery-list">
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js" src="/images/gallery/chakhokhbili/chakhokhbili-mobile@1x.jpg" alt=""></li>
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js is-hidden" src="/images/gallery/dolma/dolma-mobile@1x.jpg" alt=""></li>
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js is-hidden" src="/images/gallery/khachapuri/khachapuri-mobile@1x.jpg" alt=""></li>
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js is-hidden" src="/images/gallery/kharcho/kharcho-mobile@1x.jpg" alt=""></li>
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js is-hidden" src="/images/gallery/lulia-kebab-with-grilled-onions/lulia-kebab-with-grilled-onions-mobile@1x.jpg" alt=""></li>
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js is-hidden" src="/images/gallery/manti/manti-mobile@1x.jpg" alt=""></li>
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js is-hidden" src="/images/gallery/lula-kebab/lula-kebab-mobile@1x.jpg" alt=""></li>
        <li class="gallery-item"><img class="gallery-pic gallery-pic-js is-hidden" src="/images/gallery/adjarian-khachapuri/adjarian-khachapuri-mobile@1x.jpg" alt=""></li>
        
    </ul>
    <ul class="gallery-list__dot">
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-red-dot"></use>
                </svg>
            </span>
        </li>
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-grey-dot"></use>
                </svg>
            </span>
        </li>
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-grey-dot"></use>
                </svg>
            </span>
        </li>
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-grey-dot"></use>
                </svg>
            </span>
        </li>
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-grey-dot"></use>
                </svg>
            </span>
        </li>
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-grey-dot"></use>
                </svg>
            </span>
        </li>
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-grey-dot"></use>
                </svg>
            </span>
        </li>
        <li class="gallery-item__dot">
            <span class="gallery-dot">
                <svg width="10px" height="10px">
                    <use href="./images/svg/icons.svg#icon-grey-dot"></use>
                </svg>
            </span>
        </li>
    </ul>
</div>