<!--------------------------- Menu section ------------------------->
<!------------------------------------------------------------------>

<div class="container">
    <h2 class="secondary-title">Меню</h2>
    <p class="describe-text describe-text__menu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium
        netus urna hendrerit convallis aliquam consequat
        turpis.</p>
    <ul>
        <li class="menu-item menu-item__appetizer">
            <h3>Холодные закуски</h3>
            <a href=""></a>
        </li>
        <li class="menu-item menu-item__salads">
            <h3>Салаты</h3>
            <a href=""></a>
        </li>
        <li class="menu-item menu-item__baking">
            <h3>Выпечка</h3>
            <a href=""></a>
        </li>
        <li class="menu-item menu-item__soups">
            <h3>Супы</h3>
            <a href=""></a>
        </li>
        <li class="menu-item menu-item__grill">
            <h3>Блюда на мангале</h3>
            <a href=""></a>
        </li>
        <li class="menu-item menu-item__hot-dishes">
            <h3>Горячие блюда</h3>
            <a href=""></a>
        </li>
        <li class="menu-item menu-item__sauces">
            <h3>Соусы</h3>
            <a href=""></a>
        </li>
    </ul>