.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 229px;
  height: 60px;

  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.button-pass {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
  background: #b82121;
}
